workflow/Mesa de Ayuda UNAL - Triage (Formulario).json
{
  "name": "Mesa de Ayuda UNAL - Triage (Formulario)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "texto",
              "value": "={{ $json.Mensaje }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "estudiante",
              "value": "={{ $json.Nombre }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "email",
              "value": "={{ $json.Correo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c657bdb6-5ed8-46f7-ae44-330d12ce34c1",
      "name": "Normalizar Ticket",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ticket del estudiante:\n{{ $json.texto }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el asistente de la Mesa de Ayuda de la Universidad Nacional de Colombia (UNAL), Sede Manizales. Tu tarea es analizar el ticket de un estudiante y devolver una clasificacion estructurada.\n\nClasifica SIEMPRE en una de estas 5 categorias (usa exactamente estos valores en minuscula):\n- matricula: inscripcion, adicion o cancelacion de asignaturas, cupos, pago de matricula.\n- notas: calificaciones, reclamos de nota, promedio (PAPA), historia academica.\n- plataforma: acceso al SIA, login, contrasena, errores del sistema, Moodle.\n- biblioteca: prestamos, renovaciones, multas, bases de datos, salas, paz y salvo de biblioteca.\n- certificados: certificados de notas, constancias de estudio, paz y salvo, diploma, acta de grado.\n\nAsigna la prioridad usando exactamente uno de estos valores: alta, media, baja.\n- alta: hay un bloqueo critico o una fecha limite inminente (matricula que cierra, grado, beca, examen).\n- media: problema importante sin fecha limite inmediata.\n- baja: consulta informativa o solicitud general.\n\nDevuelve un objeto JSON con EXACTAMENTE estas cinco claves, en este orden, sin agregar ni renombrar ninguna:\n1. categoria (string)\n2. prioridad (string)\n3. area_responsable (string): el area de la universidad que debe atender el caso.\n4. respuesta_sugerida (string): respuesta cordial y profesional dirigida al estudiante, firmada como 'Mesa de Ayuda UNAL Sede Manizales'.\n5. razonamiento (string): explica brevemente por que elegiste esa categoria y prioridad.\n\nNo uses sinonimos como 'justificacion' para la clave 'razonamiento'. Responde unicamente en el formato estructurado solicitado."
        }
      },
      "id": "ca86d822-612d-4e6f-8a32-d81ec64785ca",
      "name": "Clasificar y Responder",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        512
      ],
      "id": "156d1ace-133a-4a55-b88c-81b1209eb3a3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NPhr41tIClTWeyM1",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"categoria\": \"matricula\", \"prioridad\": \"alta\", \"area_responsable\": \"Registro y Matricula\", \"respuesta_sugerida\": \"Estimado estudiante, hemos recibido su solicitud...\", \"razonamiento\": \"El ticket menciona inscripcion de asignaturas y cupos\" }"
      },
      "id": "1a19a0e6-4360-41aa-9829-f4d04a4d2ba1",
      "name": "Formato de Salida",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        512
      ]
    },
    {
      "parameters": {
        "formTitle": "Mesa de Ayuda UNAL Sede Manizales",
        "formDescription": "Cuéntanos tu solicitud y nuestro asistente la clasificará y te dará una respuesta.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre",
              "placeholder": "Tu nombre completo",
              "requiredField": true
            },
            {
              "fieldLabel": "Correo",
              "fieldType": "email",
              "placeholder": "tucorreo@unal.edu.co",
              "requiredField": true
            },
            {
              "fieldLabel": "Mensaje",
              "fieldType": "textarea",
              "placeholder": "Describe tu solicitud o problema...",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Enviar solicitud",
          "path": "mesa-ayuda"
        }
      },
      "id": "e81e514b-ed47-44be-8072-f3bb97f429d3",
      "name": "Formulario de Ticket",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        304
      ],
      "webhookId": "383d4f3f-fda0-4728-9e0f-5c69b041e6c8"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Solicitud recibida y clasificada",
        "completionMessage": "=Categoría: {{ $json.output.categoria }}  |  Prioridad: {{ $json.output.prioridad }}\nÁrea responsable: {{ $json.output.area_responsable }}\n\n{{ $json.output.respuesta_sugerida }}",
        "options": {}
      },
      "id": "97f0aeb5-280b-4d7a-99f1-361b7a10f246",
      "name": "Mostrar Respuesta",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1184,
        304
      ],
      "webhookId": "0b6028f7-8187-418d-80f5-aa806851ef54"
    }
  ],
  "pinData": {},
  "connections": {
    "Normalizar Ticket": {
      "main": [
        [
          {
            "node": "Clasificar y Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificar y Responder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formato de Salida": {
      "ai_outputParser": [
        [
          {
            "node": "Clasificar y Responder",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Formulario de Ticket": {
      "main": [
        [
          {
            "node": "Normalizar Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar y Responder": {
      "main": [
        [
          {
            "node": "Mostrar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "38236afb-d8c8-4181-ab36-f38570198f36",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "08eabaa67d6df7e1f6b6aa45c854ccbe2c132029a8c56d85d53c287d316e9702"
  },
  "nodeGroups": [],
  "id": "i88N98WamBtbfVso",
  "tags": []
}